
body{
    position: relative;
}

.main{
    position: absolute;
    width: 330px;
    height: 300px;
    top: 50px;
    left: 50px;
    padding: 50px;
    background: #6178ff;
    box-shadow: dimgray 1px 1px;
}
.author{
    position: absolute;
    width: 330px;
    height: 250px;
    left: 530px;
    top: 50px;
    padding: 50px;
    background: #6178ff;
    box-shadow: dimgray 1px 1px;
}

#u{
    position: absolute;
    background-color: crimson;
    font-family: "SF UI Text";
    font-size: 35px;
    color: ivory;
    width: 170px;
    top: 120px;
    left: 105px;
    padding-left: 15px;
    padding-right: 15px;
}

#d{
    position: absolute;
    background-color: crimson;
    font-family: "SF UI Text";
    font-size: 35px;
    color: ivory;
    top: 170px;
    width: 170px;
    left:105px;
    padding-left: 15px;
    padding-right: 15px;
}

#e{
    position: absolute;
    background-color: crimson;
    font-family: "SF UI Text";
    font-size: 35px;
    color: ivory;
    top: 220px;
    width: 170px;
    left:105px;
    padding-left: 15px;
    padding-right: 15px;
}

#calc{
    position: absolute;
    background-color: crimson;
    font-family: "SF UI Text";
    font-size: 35px;
    color: ivory;
    top: 270px;
    padding: 8px;
    box-shadow: dimgray 1px 1px 3px;
    width: 200px;
    left: 106px;
}

h1{
    position: absolute;
    color: ivory;
    font-family: "SF UI Text";
    font-size: 35px;
    top: 50px;
    width: 330px;
}